.hero-header {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#homebox{
    margin:0px;
}
.hero-header img {
    animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate { 
    100% { 
        transform: rotate(360deg); 
    } 
}

#para{
    font-size: 30px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    float: start;
    width:200px;
}
.box1{
    float: end;
    width:200px;
}
#caro{
    height: 400px;
    width: 100%;
    
    
}

@media only screen and (max-device-width: 600px) {
    #imgbox {
      height:400px;
    }
  }

  @media only screen and (max-device-width: 600px) {
    #para {
      font-size: 21px;
      height:400px;
    }
  }
 @media only screen and (max-width: 600px) {
    #imgcol{
      font-size: 17px;
      height:200px;
      margin-top: 50px;
    }
  }

